@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
body{
    overflow: hidden;
    background-color: hsl(0, 0%, 90%);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.calculator{
    width: 400px;
    height: 225px;
    padding: 100px;
    margin: 50px 375px;
}

.header{
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 0%);
}

.right-header{
    /* display: flex; */
    /* flex-direction: column; */
    line-height: 10px;
}

.theme-toggle {
    width: 50px;
    height: 15px;
    background-color: hsl(0, 5%, 81%);
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}
.theme-toggle:after  {
    content: "";
    width: 12px;
    height: 12px;
    top: 2px;
    left: 33px;
    border-radius: 10px;
    position: absolute;
    transition: 0.4s;
    background-color: hsl(6, 63%, 50%);
}
.input{
    border: 0px solid;
    border-radius: 10px;
    width: 420px;
    height: 50px;
    background-color:hsl(0, 0%, 93%) ;
    color:hsl(0, 0%, 0%) ;
    margin-bottom: 15px;
    text-align: end;
    padding: 10px;
}



.touches{
    background-color: hsl(0, 5%, 81%);
    width: 400px;
    height: 255px;
    padding: 20px;
}

.touches-primaires{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .625rem;
    
}

.number{
    background-color: hsl(45, 7%, 89%);
    border: 0;
    border-radius: 10px;
    padding: 10px;
    color: hsl(60, 10%, 19%);
    box-shadow: 1px 3px 1px  hsl(35, 11%, 61%);
    font-size: 20px;

}

#del{
    background-color: hsl(185, 42%, 37%);
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 3px 1px  hsl(185, 58%, 25%);
    color: #ffffff;
}



.touches-secondaires{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .625rem;
    margin-top: .625rem;
}

#reset{
    background-color: hsl(185, 42%, 37%);
    height: 40px;
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 3px 1px  hsl(185, 58%, 25%);
    color: #ffffff;
}

#egal{
    background-color: hsl(25, 98%, 40%);
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 3px 1px hsl(25, 99%, 27%);
    color:#ffffff;
}